{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>digizella</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
</head>
<body>
    <div class="">
        <nav class="navbar bg-dark border-bottom border-body navbar-expand-lg ">
            <div class="container-fluid">
                <a class="navbar-brand text-white" href="#">Home</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active text-white" aria-current="page" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="#">Users</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" >pages</a>
                    </li>
                </ul>
                <div class="d-flex">
                    <a href="{% url 'odoo:digizilla_pdf' %}" class="btn btn-outline-success">Generate Report</a>
                    <a href="{% url 'odoo:add' %}" class="btn btn-outline-warning mx-5">add new</a><br>
                </div>
            </div>
            </div>
        </nav>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-8 mx-auto mt-5">
                <h1>digizella Staff</h1>
                {% for item in digizilla_list %}
                    <div class="card w-75 mb-3">
                        <div class="card-body">
                          <h5 class="card-title">{{ item.name }}</h5>
                          <p class="card-text">{% lorem 1 b random %}</p>
                          <a href="{% url 'odoo:detail' item.id %}" class="btn btn-primary">Details</a>
                        </div>
                      </div>
                {% endfor %}
                
            </div>
        </div>
    </div>


    
</body>
</html>

